.search-input {
  margin: auto;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
  align-items: center;
  font-size: 18px;
  border-width: 0px;
  border-radius: 25px;
  outline-style: none;
  text-align: justify;
  color: #395600;
  background-color: white;
}
.search-input:focus {
  border-radius: 10px;
}
.search-div {
  border-radius: 25px;
  border-width: 0px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: white;
  margin: auto;
}
.search-div:hover, .search-div:focus {
  border-width: 1px;
  border-color: yellowgreen;
}

.search-icon {
  font-size: 14px;
  color:#395600;
}